@tailwind base;
@tailwind components;
@tailwind utilities;

/* your custom variables and styles below */
:root {
  --background: #111111;
  --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111111;
    --foreground: #ffffff;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}